@use '../variables.scss' as *;
@use 'sass:color';

@mixin button-style($bg, $hover-bg, $color: $opt-light-color) {
  background-color: $bg;
  color: $color;
  transition: background-color 0.3s ease;

  &:hover {
      background-color: $hover-bg;
  }

  &:focus-visible {
    outline: 2px solid color.adjust($color: $hover-bg, $lightness: 20%);
    outline-offset: 2px;
  }
}

.opt-btn {
    border: none;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    margin: 0.2rem;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    user-select: none;
    text-transform: capitalize;
}

// .opt-btn-sm {
//   padding: 0.25rem 0.5rem;
//   font-size: 0.875rem;
//   line-height: 1.5;
//   border-radius: 0.2rem;
// }

// .opt-btn-md {
//   padding: 0.375rem 0.75rem;
//   font-size: 1rem;
//   line-height: 1.5;
//   border-radius: 0.25rem;
// }

// .opt-btn-lg {
//   padding: 0.5rem 1rem;
//   font-size: 1.25rem;
//   line-height: 1.5;
//   border-radius: 0.3rem;
// }

.opt-btn-primary {
    @include button-style($opt-primary-color, $opt-dark-primary-color);
}

.opt-btn-secondary {
    @include button-style($opt-secondary-color, $opt-dark-secondary-color);
}

.opt-btn-add{
    @include button-style($opt-success-color, $opt-dark-success-color )
}

.opt-btn-edit{
    @include button-style($opt-info-color, $opt-dark-info-color )
}

.opt-btn-delete {
    @include button-style($opt-danger-color, $opt-dark-danger-color )
}

.opt-btn-upload {
    @include button-style($opt-file-color, $opt-dark-file-color);
    background-image: url('assets/download-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem
}

.opt-btn-download {
    @include button-style($opt-file-color, $opt-dark-file-color);
    background-image: url('assets/upload-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
}

