@use '../_variables.scss' as *;
@use '../_mixins.scss' as *;

// general button styles
.opt-btn {
    border: none;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    margin: 0.2rem;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    user-select: none;
    text-transform: capitalize;
}

// CRUD buttons
.opt-btn-primary {
    @include button-style($opt-primary-color, $opt-dark-primary-color);
}

.opt-btn-secondary {
    @include button-style($opt-secondary-color, $opt-dark-secondary-color);
}

.opt-btn-add{
    @include button-style($opt-success-color, $opt-dark-success-color )
}

.opt-btn-edit{
    @include button-style($opt-info-color, $opt-dark-info-color )
}

.opt-btn-delete {
    @include button-style($opt-danger-color, $opt-dark-danger-color )
}

// File upload & download buttons
.opt-btn-upload {
   @include file-button('assets/upload-icon.svg');
}

.opt-btn-download {
   @include file-button('assets/download-icon.svg');
}

