@use '../variables.scss' as *;

.btn {
  display: inline-block;
  background-color: $primary-color;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  
}

.btn:hover {
  color: $light-color;
}