@use '../../_variables.scss' as *;

// Textbox group
.input-group {
  position: relative;
  margin: 2rem 0;
  width: 100%;
}

// Textbox styles
.textbox {
  font-size: 1rem;
  padding: 0.8rem 0.8rem;
  width: 100%;
  border: 0.05rem solid $opt-dark-secondary-color;
  border-radius: 0.25rem;
  outline: none;
  background: $opt-primary-color, #fff;
  transition: all 0.2s ease-in-out;
  
}

// Floating label styles
.floating-label, label {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  font-size: 1rem;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  
}

// Floating label on focus or not empty
.textbox:focus + label,
.textbox:not(:placeholder-shown) + label {
  top: 0;
  font-size: 0.8rem;
  position: absolute;
  top: -20%;
}

// Textbox focus styles
.textbox:focus {
  border-color: $opt-primary-color;
  box-shadow: 0.05rem 0.05rem 0.2rem $opt-primary-color;
  
}

// Textbox disabled styles
.textbox.error {
  border-color: $opt-danger-color, #ff0000;
}

// Floating label error styles
.textbox.error + label {
  color: $opt-danger-color, #ff0000;
}
