  // possible colors
  $opt-body-bg: #E8EDF0;
  $opt-primary-color: #F9C259;
  $opt-dark-primary-color: #E49808;
  $opt-secondary-color: #91A0AD;
  $opt-dark-secondary-color: #616161;
  $opt-success-color: #17A2B8;
  $opt-dark-success-color: #138496;
  $opt-danger-color: #f44336;
  $opt-dark-danger-color: #e13535;
  $opt-warning-color: #ff9800;
  $opt-light-info-color: #869EDF;
  $opt-info-color: #1d8cd5;
  $opt-dark-info-color:#0d6eaf;
  $opt-light-color: #F5F5F5;
  $opt-dark-color: #121212;
  $opt-file-color: #4BB3FA;
  $opt-dark-file-color: #448AFF;


  // default font family for entire application
  $font-family: 'Roboto', sans-serif;
